.line {
    height: 15px;
    width: 1px;
    position: absolute;
    background: black;
}

.movie {
    background: red;
    width: 1px;
    height: 30px;
}

.movies-container {
    display: flex;
    margin-top: 140px;
}

g.tick-line {
    stroke-width: 1px;
    stroke: lightgray;
    stroke-dasharray: 5px;
}

g.axis path, g.axis line {
    fill:none; 
    stroke:#6C7A89;
}
