.line {
    height: 15px;
    width: 2px;
    position: absolute;
    background: black;
    left: 0px;
}

.movie {
    background: red;
    width: 1px;
    height: 30px;
}

.movies-container {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: 140px;
    display: none;
}

g.tick-line {
    stroke-width: 1px;
    stroke: lightgray;
    stroke-dasharray: 5px;
}

g.axis path, g.axis line {
    fill:none;
    stroke:#6C7A89;
}


.lines-container {
    display: none;
}

.histogram-two-line {
    height: 30px;
    width: 1px;
    background: black;
    /* margin-right: 1px; */
    margin-bottom: 8px;
}

.histogram-two {display: flex;display:-webkit-box;     display:-ms-flexbox;display:-webkit-flex;flex-wrap: wrap;position: relative;width: auto;align-items:;}

div .bucket-one:last-of-type{
  height:100px;
}


.histogram-two-bucket {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: relative;
    margin-right: 2px;
}

.axis-label {
    position: absolute;
    left: 0px;
    top: -49px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}


.axis-count {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}

.histogram-two-data {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 30px;
    /* margin-right: 150px; */
    /* margin-left: 150px; */
    position: relative;
}

.histogram-two-marker {
    position: absolute;
    width: 1px;
    height: 30px;
    border: 2px solid #020202;
    top: -2px;
    left: 0px;
    display: none;
    pointer-events: none;
}


.histogram-two-name {
    width: 100%;
    pointer-events: none;
    color: black;
    text-align: left;
    /* display: none; */
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.histogram-two-title {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    font-size: 24px;
}

.histogram-two-script-data {
    position: relative;
    /* top: 0px; */
    /* left: 0px; */
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.histogram-two-data-preview-bar {
    height: 10px;
}

.histogram-two-data-preview-row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    left: 0px;
    top: 60px;
    height: 15px;
    width: auto;
}


.histogram-two-data-preview-label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 11px;
    margin: 0px;
    width: 75px;
    text-align: right;
    margin-right: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.histogram-two-data-preview {margin-left: -78px;}

.histogram-two-data-preview-percent {
    font-size: 10px;
    color: black;
    line-height: 10px;
    margin: 0px;
    font-weight: 500;
    margin-left: 4px;
}

.histogram-two-name-container {
    position: absolute;
    left: 0px;
    top: 40px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    visibility: hidden;
}